:root{

    --color-1: #000000;
    --color-2: #FEAF00;
    --color-3: #FFFFFF;
    --color-4: #ACACAC;
    --color-5: #C4C4C4;
    --color-6: #E5E5E5;
    --color-7: #F2EAE1;
    --color-8: #F8D442;
    --color-9: #F8F8F8;

}

@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url(../storage/font/Montserrat/Montserrat-ExtraBold.ttf);
}


@font-face {
    font-family: "Montserrat-Regular";
    src: url(../storage/font/Montserrat/Montserrat-Regular.ttf);
}


@font-face {
    font-family: "Montserrat-Medium";
    src: url(../storage/font/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url(../storage/font/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url(../storage/font/Montserrat-Bold.ttf);
}
